---
import { siInstagram, siTiktok } from "simple-icons";
import { Image } from "astro:assets";
import Logo from "@/assets/logo.svg";
import LogoDark from "@/assets/logo_dark.svg";

const socialLinks = [
	{
		icon: siInstagram.svg,
		name: "Instagram",
		url: "https://instagram.com/ipta._",
	},
	{
		icon: siTiktok.svg,
		name: "TikTok",
		url: "https://tiktok.com/@ikatanpemudatamas",
	},
];
const today = new Date();
---

<footer
	class="flex flex-col items-start gap-8 border-t border-blue-50/80 bg-blue-50/50 px-6 py-4 sm:px-10 md:px-14 lg:px-20 xl:px-24 dark:border-blue-950/50 dark:bg-blue-950/10"
>
	<div class="grid grid-cols-1 items-start justify-between max-sm:gap-4 sm:grid-cols-2">
		<div>
			<div class="flex items-baseline gap-2 text-lg font-semibold">
				<Image src={Logo} alt="" class="block h-5 w-auto dark:hidden" />
				<Image src={LogoDark} alt="" class="hidden h-5 w-auto dark:block" />
				<p>IPTA</p>
			</div>
			<p class="max-w-prose">
				Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsam sequi reiciendis placeat
				nostrum quod eveniet, dicta dolore totam rem voluptates nesciunt quaerat dignissimos
				assumenda corrupti culpa qui ipsum veniam autem.
			</p>
		</div>

		<ul class="flex flex-row justify-end gap-4">
			{
				socialLinks.map((link) => (
					<li>
						<a
							href={link.url}
							class="group relative flex w-fit items-center gap-1 font-medium tracking-tight duration-200 ease-out"
						>
							<div class="h-4 w-4 fill-foreground">
								<Fragment set:html={link.icon} />
							</div>
							{link.name}
							<span class="absolute bottom-0 left-5 z-1 h-[2px] w-[calc(100%-1.25rem)] origin-left scale-x-0 bg-foreground transition-transform duration-300 ease-custom group-hover:scale-x-100 group-hover:text-black group-focus:origin-left group-focus:scale-x-100 group-focus-visible:text-black motion-reduce:duration-0" />
						</a>
					</li>
				))
			}
		</ul>
	</div>

	<p class="self-center text-center text-sm font-semibold tracking-tight">
		<a
			href="https://creativecommons.org/licenses/by/4.0/"
			target="_blank"
			rel="noopener noreferrer"
			class="font-medium hover:underline">Creative Commons Attribution 4.0 International</a
		>
		<wbr />&copy;&nbsp;{today.getFullYear()}&nbsp;IPTA
	</p>
</footer>
